html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif !important;
}
body {
  min-width: 700px;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.page-title {
  font-weight: bold;
  font-size: 32px;
  padding: 15px 0;
  text-align: center;
  color: #a30c0c;
}
.header-container,
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background: #033025;
}
input {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 14px;
  outline: none;
  border-radius: 4px;
  border: solid black 1px;
  padding-left: 7px;
}
.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.form-login-img {
  text-align: center;
}
.form-login {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-login__title {
  margin-bottom: 14px;
  font-size: 18px;
  color: #a30c0c;
  font-weight: bold;
}
.form-login .form-elem {
  width: 252px;
  height: 35px;
  margin-bottom: 14px;
  outline: none;
  border-radius: 4px;
  border: solid black 1px;
  padding-left: 7px;
}
.form-login__btn-login {
  width: 252px;
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background: #a30c0c;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}
.form-login__btn-registration {
  width: 252px;
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background: #0ca39e;
  cursor: pointer;
  color: white;
}
.form-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.form-signup-container .form-signup {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
}
.form-signup-container .form-signup__title {
  margin-bottom: 14px;
  font-size: 18px;
  color: #0ca39e;
  font-weight: bold;
}
.form-signup-container .form-signup .btn-signup {
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background: #0ca39e;
  cursor: pointer;
  color: white;
}
.games {
  max-width: 800px;
  margin: 20px auto 0;
  margin-bottom: 30px;
}
.games-list {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid black;
}
.game__img {
  margin-bottom: 10px;
}
.game__title {
  text-align: center;
  font-size: 18px;
}
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
.game-info__properties {
  display: flex;
}
.game-info__properties .properties__img {
  text-align: center;
  width: 400px;
  padding: 0 40px;
}
.game-info__properties .properties {
  width: 400px;
  padding-right: 40px;
  padding-top: 20px;
}
.game-info__properties .properties__title {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.game-info__properties .properties__name {
  margin-bottom: 15px;
}
.game-info__properties .properties__name .value {
  padding-top: 5px;
  font-weight: bold;
}
.game-info__description {
  padding: 0 40px;
  padding-bottom: 20px;
}
.game-info__description .description-title {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}
.game-info__description .description-content p {
  margin-top: 10px;
}
.user-info {
  display: flex;
  justify-content: center;
  max-width: 800px;
  border: 1px solid black;
}
.user-info__img {
  text-align: center;
  padding: 0 40px;
}
.user-info__about {
  padding: 10px 40px;
}
.user-info__about .item {
  margin-bottom: 15px;
}
.user-info-games {
  width: 650px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.users-list {
  width: 600px;
}
.users-list .user {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}
.meet {
  width: 600px;
  padding: 10px;
  margin-bottom: 30px;
}
.meet .meet-propertis {
  margin-bottom: 20px;
  padding: 0 60px;
}
.meet .meet-propertis__title {
  font-size: 18px;
  font-weight: bold;
}
.meet .meet-propertis__content {
  margin: 5px;
}
.meet .meet-propertis-btn {
  text-align: center;
}
.meet-list {
  width: 600px;
}
.meet-list .meeting {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}
.button {
  border: none;
}
