html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif !important;
}
body {
  min-width: 600px;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.page-title {
  padding: 15px 0;
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: -0.02em;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #0ca39e;
  color: white;
}
.header-container {
  background: #0ca39e;
  height: 50px;
  display: flex;
  justify-content: center;
}
.header-container .header {
  background-color: #0ca39e;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}
.header-container .header ul li {
  float: left;
  padding: 18px 0;
}
.header-container .header ul li a {
  padding: 5px 5px;
  color: white;
  font-size: 1.2em;
}
.header-container .header .menu {
  clear: none;
  float: right;
  max-height: none;
  margin-right: 100px;
}
.header-container .header .menu-icon {
  display: none;
}
.header-container .header .header-user {
  width: 200px;
  float: right;
  margin-right: 125px;
}
.header-container .header .header-user .header-user__img {
  float: left;
  margin: 10px 10px 10px;
}
.header-container .header .header-user .header-user__nameUser {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 10px 0;
  text-decoration: none;
  color: white;
}
.header-container .header .menu-btn {
  display: none;
}
input,
textarea {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  outline: none;
  border-radius: 4px;
  border: solid #cac6c6 1px;
  padding-left: 7px;
}
textarea {
  height: 80px;
  padding-top: 8px;
  resize: none;
}
input[type=radio] {
  width: 37%;
  height: 18px;
  margin: 0;
}
input[type=radio]:hover,
input[type=radio]:focus {
  box-shadow: none;
}
textarea:focus,
textarea:hover,
input:focus,
input:hover {
  box-shadow: 0 1px 6px 0 rgba(91, 91, 94, 0.637);
}
.form-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.form-login-img {
  text-align: center;
}
.form-login {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-login__title {
  margin-bottom: 14px;
  font-size: 18px;
  color: #A30C11;
  font-weight: bold;
}
.form-login .form-elem {
  width: 252px;
  height: 35px;
  margin-bottom: 14px;
  outline: none;
  border-radius: 4px;
  border: solid black 1px;
  padding-left: 7px;
}
.form-login__btn-login {
  width: 252px;
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background: #A30C11;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}
.form-login__btn-registration {
  width: 252px;
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background: #0ca39e;
  cursor: pointer;
  color: white;
}
.form-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.form-signup-container .form-signup {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
}
.form-signup-container .form-signup__title {
  margin-bottom: 14px;
  font-size: 18px;
  color: #0ca39e;
  font-weight: bold;
}
.form-signup-container .form-signup__item {
  margin-bottom: 14px;
}
.form-signup-container .form-signup .btn-signup {
  height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background: #0ca39e;
  cursor: pointer;
  color: white;
}
.form-signup-container .form-signup .btn-signup:disabled {
  background-color: gray;
  cursor: auto;
}
.games {
  max-width: 800px;
  margin-bottom: 30px;
}
.games-list {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  padding: 20px;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 8px;
  cursor: pointer;
  border: 1px solid white;
}
.game__img {
  margin-bottom: 10px;
  cursor: pointer;
}
.game__title {
  text-align: center;
  font-size: 18px;
}
.gameList:hover {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
.game-info__properties {
  display: flex;
  margin-bottom: 15px;
}
.game-info__properties .properties__img {
  text-align: center;
  width: 400px;
  padding: 0 40px;
}
.game-info__properties .properties {
  width: 400px;
  padding-right: 40px;
  padding-top: 20px;
}
.game-info__properties .properties__title {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
.game-info__properties .properties__name {
  margin-bottom: 15px;
}
.game-info__properties .properties__name .value {
  padding-top: 5px;
  font-weight: bold;
}
.game-info__buttons {
  width: 610px;
  text-align: center;
}
.game-info__buttons button {
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.game-info__buttons button[data-status=add],
.game-info__buttons .user-info-buttons__btn-createMeeting {
  width: 30%;
  background-color: #0ca39e;
  color: white;
}
.game-info__buttons button[data-status=add]:hover,
.game-info__buttons .user-info-buttons__btn-createMeeting:hover {
  background-color: #15bdb8;
}
.game-info__buttons button[data-status=delete] {
  background-color: #A30C11;
  color: white;
}
.game-info__buttons button[data-status=delete]:hover {
  background-color: #bb1414;
}
.game-info__description {
  padding: 0 40px;
  padding-bottom: 20px;
}
.game-info__description .description-title {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
}
.game-info__description .description-content p {
  margin-top: 10px;
}
.user-info {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.user-info__img {
  text-align: center;
  padding: 10px 5px;
}
.user-info__about {
  padding: 10px 30px;
}
.user-info__about .item {
  margin-bottom: 15px;
}
.user-info__about .item .name {
  font-weight: bold;
}
.user-info__buttons {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}
.user-info__buttons .user-info-buttons__btn-editUserPage,
.user-info__buttons .user-info-buttons__btn-cancelUserPage {
  text-align: center;
  padding: 10px 30px;
  background-color: #A30C11;
  border-radius: 4px;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.user-info__buttons .user-info-buttons__btn-cancelUserPage {
  margin-bottom: 20px;
}
.user-info__buttons .user-info-buttons__btn-saveUserPage,
.user-info__buttons .user-info-buttons__btn-usersMeetings {
  text-align: center;
  padding: 10px 30px;
  background-color: #0ca39e;
  border-radius: 4px;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}
.user-info__buttons .user-info-buttons__btn-saveUserPage:hover,
.user-info__buttons .user-info-buttons__btn-usersMeetings:hover {
  background-color: #15bdb8;
}
.user-info__buttons .user-info-buttons__btn-cancelUserPage:hover,
.user-info__buttons .user-info-buttons__btn-editUserPage:hover {
  background-color: #bb1414;
}
.user-info-games {
  width: 600px;
  margin-bottom: 30px;
}
.user-info-games .user-info-games-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  background-color: #f1f1f1;
}
.user-info-games .user-info-games-buttons .active {
  background-color: white;
  border-bottom: none;
}
.user-info-games .user-info-games-buttons .active:hover {
  background-color: white;
}
.user-info-games .games {
  border: 1px solid #ccc;
  border-top: none;
}
.user-info-games .games .game__img:hover {
  transform: scale(1.125);
  transition: transform 0.3s;
}
.users-list {
  width: 600px;
}
.users-list .user {
  border: 1px solid #0ca39e;
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
  border-left: 16px solid #0ca39e;
  border-top: 3px solid #0ca39e;
}
.users-list .user:hover {
  background-color: #0ca39e;
  color: white;
}
.meet {
  width: 600px;
  padding: 10px;
  margin-bottom: 30px;
}
.meet .meet-propertis {
  margin-bottom: 20px;
  padding: 0 60px;
}
.meet .meet-propertis__title {
  font-size: 18px;
  font-weight: bold;
}
.meet .meet-propertis__content {
  margin: 5px;
}
.meet .meet-propertis a {
  display: inline-block;
  margin-bottom: 5px;
}
.meet .meet-propertis a:hover {
  color: #A30C11;
}
.meet .meet-propertis-btn {
  text-align: center;
}
.meet .meet-propertis-btn button {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: white;
}
.meet .meet-propertis-btn .main {
  width: 30%;
  background-color: #A30C11;
}
.meet .meet-propertis-btn .main:hover {
  background-color: #bb1414;
}
.meet .meet-propertis-btn .main:disabled {
  background-color: gray;
  cursor: auto;
}
.meet .meet-propertis-btn .btn-join-meet,
.meet .meet-propertis-btn .btn-save-meet,
.meet .meet-propertis-btn .btn-create-meet {
  padding: 10px 30px;
  background-color: #0ca39e;
}
.meet .meet-propertis-btn .btn-join-meet:hover,
.meet .meet-propertis-btn .btn-save-meet:hover,
.meet .meet-propertis-btn .btn-create-meet:hover {
  background-color: #15bdb8;
}
.meet .meet-propertis-btn .btn-join-meet:disabled,
.meet .meet-propertis-btn .btn-create-meet:disabled {
  background-color: gray;
  cursor: auto;
}
.meet .meet-propertis-btn .btn-cancel-meet {
  font-size: 14px;
  padding: 10px 60px;
  background-color: #A30C11;
  border-radius: 4px;
  color: white;
}
.meet-list-buttons {
  width: 600px;
  text-align: center;
  overflow: hidden;
}
.meet-list-buttons .meet-list-actual {
  width: 35%;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.meet-list-buttons .meet-list-closed {
  width: 35%;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  margin-left: -5px;
}
.meet-list-buttons .active {
  font-size: 18px;
  border-bottom: 6px solid #A30C11;
}
.meet-list {
  width: 600px;
  padding: 10px;
}
.meet-list .meeting {
  display: flex;
  justify-content: space-between;
  border: 1px solid #A30C11;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.meet-list .meeting__propertis {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.meet-list .meeting:hover {
  background-color: #A30C11;
  color: white;
}
button {
  border: none;
}
.btn-tab {
  width: 35%;
  height: 40px;
  background-color: #ccc;
  border: solid #b8b5b5;
  border-width: 1px 1px 1px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.btn-tab:hover {
  background-color: #ddd;
}
header > a {
  color: white;
}
a {
  color: black;
}
.error {
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 18px;
  color: rgba(49, 47, 47, 0.822);
}
.error .main {
  margin-bottom: 15px;
  font-size: 26px;
}
.error p {
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .content-container {
    padding: 0 10px;
  }
  .header-container {
    height: 60px;
  }
  .header-container .header .header-user {
    float: left;
  }
  .header-container .header .header-user .header-user__img {
    display: none;
  }
  .header-container .header .header-user .header-user__nameUser {
    padding-left: 20px;
  }
  .header-container .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    float: right;
  }
  .header-container .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .header-container .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 25px;
  }
  .header-container .header .menu-icon .navicon:before,
  .header-container .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header-container .header .menu-icon .navicon:before {
    top: 5px;
  }
  .header-container .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header-container .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .header-container .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header-container .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header-container .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header-container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header-container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .header-container .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #0ca39e;
  }
  .header-container .header ul li {
    display: block;
    width: 100%;
  }
  .header-container .header ul li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
  }
}
@media screen and (max-width: 414px) {
  body {
    min-width: 414px;
  }
  .content-container {
    display: block;
    padding: 0 10px;
    width: 100%;
    height: 100%;
  }
  .page-title {
    display: none;
  }
  .header-container {
    height: 60px;
  }
  .header-container .header .header-user .header-user__img {
    display: none;
  }
  .header-container .header .header-user .header-user__nameUser {
    padding-left: 20px;
  }
  .header-container .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    float: right;
  }
  .header-container .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .header-container .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 25px;
  }
  .header-container .header .menu-icon .navicon:before,
  .header-container .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header-container .header .menu-icon .navicon:before {
    top: 5px;
  }
  .header-container .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header-container .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .header-container .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header-container .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header-container .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header-container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header-container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .header-container .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #0ca39e;
  }
  .header-container .header ul li {
    display: block;
    width: 100%;
  }
  .header-container .header ul li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
  }
  .footer-container {
    padding: 30px 0;
    height: 2em;
  }
  .form-login-container {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
  .form-login-container .form-login {
    display: block;
    text-align: center;
    padding: 20px;
  }
  .form-login-container .form-login__title {
    font-size: 2em;
  }
  .form-login-container .form-login .form-elem {
    width: 100%;
    height: 4em;
  }
  .form-login-container .form-login__btn-login,
  .form-login-container .form-login__btn-registration {
    width: 100%;
    height: 3em;
    font-size: 1.5em;
  }
  input,
  textarea {
    height: 4em;
  }
  input[type=radio] {
    width: 50%;
    height: 30px;
    margin: 0;
  }
  .form-signup-container {
    display: block;
    width: 100%;
  }
  .form-signup-container .form-signup {
    display: block;
    max-width: 100%;
    padding: 40px;
    font-size: 20px;
  }
  .form-signup-container .form-signup__title {
    text-align: center;
    font-size: 2em;
  }
  .form-signup-container .form-signup .btn-signup {
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    margin-top: 30px;
  }
  .games {
    max-width: 414px;
  }
  .games-list {
    grid-template-columns: repeat(1, 100%);
  }
  .game-info {
    display: block;
    width: 100%;
  }
  .game-info__properties {
    display: block;
  }
  .game-info__properties .properties {
    width: 100%;
    padding: 0 10px;
  }
  .game-info__properties .properties__title {
    text-align: center;
    font-size: 1.5em;
  }
  .game-info__properties .properties__name {
    font-size: 1.5em;
    padding: 0 10px;
  }
  .game-info__buttons {
    width: 100%;
    padding: 0 20px;
  }
  .game-info__buttons button {
    padding: 5px 5px;
  }
  .game-info__buttons button[data-status=add],
  .game-info__buttons button[data-status=delete],
  .game-info__buttons .user-info-buttons__btn-createMeeting {
    width: 100%;
    height: 2.5em;
    font-size: 1.2em;
  }
  .game-info .description-title {
    text-align: center;
    font-size: 1.5em;
  }
  .user-info {
    display: block;
    width: 100%;
  }
  .user-info__about {
    font-size: 1.3em;
  }
  .user-info__buttons {
    padding: 0 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .user-info-games {
    width: 100%;
    margin-bottom: 30px;
  }
  .user-info-games .btn-tab {
    width: 100%;
  }
  .meet-list {
    width: 100%;
  }
  .meet-list .meeting {
    display: block;
  }
  .meet-list .meeting__title {
    margin-bottom: 20px;
    font-size: 1.6em;
  }
  .meet-list .meeting__propertis {
    font-size: 1.2em;
  }
  .meet-list-buttons {
    width: 100%;
  }
  .meet-list-buttons .meet-list-actual,
  .meet-list-buttons .meet-list-closed {
    width: 50%;
    height: 3em;
    font-size: 1.2em;
  }
  .meet-list-buttons .active {
    font-size: 1.5em;
  }
  .meet {
    width: 100%;
  }
  .meet .meet-propertis {
    font-size: 1.5em;
  }
  .meet .meet-propertis__title {
    font-size: 1.2em;
  }
  .meet .meet-propertis-btn {
    text-align: center;
  }
  .meet .meet-propertis-btn .main,
  .meet .meet-propertis-btn .btn-join-meet {
    width: 100%;
    font-size: 1.2em;
  }
  .users-list {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
  }
  .users-list .user {
    width: 100%;
    font-size: 1.5em;
    border-left: 1px solid #0ca39e;
  }
}
